<ul class="nav navbar-nav navbar-right">
    <li id="registerLink"><a href="#" onclick="routeService.goToURL('@Url.Action("Register","Account")')">Register</a></li>
    <li id="loginLink"><a href="#" onclick="routeService.goToURL('@Url.Action("Login","Account")')">Log in</a></li>
    <li id="logoutLink"><a href="#" onclick="logout('@Url.Action("Login","Account")')">Log Off</a></li>
</ul>


